* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.album {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 10px;
    background-color: #181818;

    border-radius: 7px;

    transition: background-color 0.1s ease-in-out;
    .img-zone {
        padding: 10px;

        .cover {
            width: 200px;
            height: 200px;
            border-radius: 8px;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.55);
        }    
    }
    
    .album-infos {
        display: flex;
        flex-direction: column;
        font-family: 'Roboto', sans-serif;
        padding-left: 10px;

        .title {
            font-weight: bold;
            color: white;
        }

        .date {
            color: #DDD;
        }
    }

    .play-button {
        background: rgb(47, 172, 47);

        border: none;
        border-radius: 50%;
        margin: 0;
        
        position: absolute;
        display: none;

        height: 50px;
        width: 50px;

        padding:10px;

        transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out;

        img {
            height: 100%;
            width: 100%;

        }

        &:active {
            transform: scale(0.9);
            background: rgb(30, 105, 30);

            img {
                filter: brightness(0.8);
            }

        }
    }

    &:hover {
        background-color: #222;

        .play-button {
            animation: jumpin 0.3s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;
            right: 15%;
            bottom: 25%;
            
        }
    }
}

@keyframes jumpin {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
