$bg_color: #111;
$player_height: 10vh;

#player-container {
	display: grid;
	
	grid-template-columns: .2fr .6fr .2fr;
	grid-template-rows: $player_height;

	grid-template-areas: 
		"song-infos player songs-control";

	background-color: $bg_color;
	color: white;
	padding: 0 10px;
	width: 100%;
	box-sizing: border-box;
	align-items: center;

	@media screen and (max-width: 800px) {
		height: 18vh;
		grid-template-columns: .5fr .5fr;
		grid-template-rows: 10vh 8vh;
		grid-template-areas: 
			"song-infos songs-control"
			"player player";

		#player {
			order: 3;
			grid-column: span 2;
			#player-song-time {
				#player-timeline {
					width: 80% !important;
				}
			}
		}

		#songs-control {
			#queue {
				bottom: 26vh !important;
			}

			::ng-deep #queue.visible #queue-container {
				height: 450px !important;
				width: 100% !important;
			}
			#queue.visible {
				width: 100%;
			}
		}
	}
	
	#song-infos {
		display: flex;
		align-items: center;
		justify-content: left;
		height: 90%;
		grid-areas: song-infos;

		img {
			height: 90%;
			margin-right: 10px;
		}

		h2 {
			margin: 0;
		}
		h3 {
			margin: 0;
			color: #DDD;
		}
	}

	#player {
		display: flex;
		flex-direction: column;
		align-items: center;
		vertical-align: middle;
		grid-areas: player;

		#player-controls {
			display: flex;
			align-items: center;

			button {
				background: none;
				border: none;
				margin: 0;
				cursor: pointer;

				img {
					transition-duration: .1s;
					filter: invert(80%);
					height: 30px;

					&:hover {
					filter: invert(100%);
					}
				}

				img.songs-nav {
					height: 25px;
				}
			}
		}

		#player-song-time {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;


			&:hover {
				#player-timeline
				{
					&::-webkit-slider-thumb {
						height: 15px;
						margin-top: calc((3px - 15px) / 2);
					}
					&::-moz-range-thumb {
						height: 15px;
						margin-top: calc((3px - 15px) / 2);
					}
				}
			}

			#player-timeline {
				outline: none;
				-webkit-appearance: none;
				width: 60%;
				height: 3px;
				margin: 0 10px;
				cursor: pointer;

				&::-webkit-slider-runnable-track { 
					height: 100%;
				}
				&::-moz-range-track {
					height: 100%;
				}

				&::-webkit-slider-thumb {
					appearance: none;
					height: 0;
					width: 4px;
					background-color: lightgray;
				}
				&::-moz-range-thumb {
					height: 0;
					width: 4px;
					background-color: lightgray;	
				}
			}

			p {
				margin: 0;
			}
		}
	}

	#songs-control {
		display: flex;
		align-items: center;
		justify-content: right;
		grid-areas: songs-control;

		#volume-slider {
			height: 5px;
			width: 40%;
			cursor: pointer;
			outline: none;
			-webkit-appearance: none;
			margin-top: -1px;

			&::-webkit-slider-runnable-track { 
				height: 100%;
			}
			&::-moz-range-track {
				height: 100%;
			}

			&::-webkit-slider-thumb {
				appearance: none;
				height: 0;
				width: 4px;
				background-color: lightgray;
			}
			&::-moz-range-thumb {
				height: 0;
				width: 4px;
				background-color: lightgray;	
			}
		}

		button {
			border: none;
			background: none;
			cursor: pointer;

			&#loop-type {
				p {
					color: white;
					position: absolute;
					margin-top: -30px;
					margin-left: -2px;
					border-radius: 100%;
					background-color: $bg_color;
				}
			}

			img {
				transition-duration: .1s;
				filter: invert(80%);
				height: 20px;

				&:hover {
				filter: invert(100%);
				}
			}
		}

		#queue {
			position: absolute;
			bottom: 10vh;
			right: 0;
		}

		::ng-deep #queue #queue-container {
			transition: .5s;
		}

		::ng-deep #queue.invisible #queue-container {
			height: 0;
			width: 0;
		}

		::ng-deep #queue.visible #queue-container {
			height: 500px;
			width: 400px;
		}


	}
}