$bg_color: #111;

#player-container {
	background-color: $bg_color;
	color: white;
	padding: 10px;
	width: 100%;
	height: 15vh;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	#song-infos {
		display: flex;
		align-items: center;
		justify-content: left;
		height: 100%;
		width: 20%;

		img {
			height: 90%;
			margin-right: 10px;
		}

		h2 {
			margin: 0;
		}
		h3 {
			margin: 0;
			color: #DDD;
		}
	}

	#player {
		width: 60%;
		display: flex;
		flex-direction: column;
		align-items: center;
		vertical-align: middle;

		#player-controls {
			display: flex;
			align-items: center;

			button {
				background: none;
				border: none;
				margin: 0;
				cursor: pointer;

				img {
					transition-duration: .1s;
					filter: invert(80%);
					height: 30px;

					&:hover {
					filter: invert(100%);
					}
				}

				img.songs-nav {
					height: 25px;
				}
			}
		}

		#player-song-time {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;


			&:hover {
				#player-timeline
				{
					&::-webkit-slider-thumb {
						height: 15px;
						margin-top: calc((3px - 15px) / 2);
					}
					&::-moz-range-thumb {
						height: 15px;
						margin-top: calc((3px - 15px) / 2);
					}
				}
			}

			#player-timeline {
				outline: none;
				-webkit-appearance: none;
				width: 60%;
				height: 3px;
				margin: 0 10px;
				cursor: pointer;

				&::-webkit-slider-runnable-track { 
					height: 100%;
				}
				&::-moz-range-track {
					height: 100%;
				}

				&::-webkit-slider-thumb {
					appearance: none;
					height: 0;
					width: 4px;
					background-color: lightgray;
				}
				&::-moz-range-thumb {
					height: 0;
					width: 4px;
					background-color: lightgray;	
				}
			}

			p {
				margin: 0;
			}
		}
	}

	#songs-control {
		width: 20%;
		display: flex;
		align-items: center;
		justify-content: right;
		cursor: pointer;

		#volume-slider {
			height: 5px;
			width: 40%;
			cursor: pointer;
			outline: none;
			-webkit-appearance: none;
			margin-top: -1px;

			&::-webkit-slider-runnable-track { 
				height: 100%;
			}
			&::-moz-range-track {
				height: 100%;
			}

			&::-webkit-slider-thumb {
				appearance: none;
				height: 0;
				width: 4px;
				background-color: lightgray;
			}
			&::-moz-range-thumb {
				height: 0;
				width: 4px;
				background-color: lightgray;	
			}
		}

		button {
			border: none;
			background: none;
			cursor: pointer;

			&#loop-type {
				p {
					color: white;
					position: absolute;
					margin-top: -30px;
					margin-left: -2px;
					border-radius: 100%;
					background-color: $bg_color;
				}
			}

			img {
				transition-duration: .1s;
				filter: invert(80%);
				height: 20px;

				&:hover {
				filter: invert(100%);
				}
			}
		}
	}
}