.track-details {
    /*Temp solution to width issue*/
    min-height: 7vh;

    display: grid;
    grid-template-columns: 1fr 1fr 4fr 1fr;
    grid-template-rows: 1fr;

    flex-direction: row;
    gap: 10px;
    padding: 10px;
    color: white;

    border-radius: 10px;

    transition: background-color 0.2s ease-in-out;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;


    a {
        text-decoration: none;
        color: white;

        &:hover {
            text-decoration: underline;
            color: white;
        }
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);

        .play-or-index {
            .play {
                visibility: visible;
            }
            .index {
                visibility: hidden;
            }
        }
    }
    
    img {
        width: 50px;
        height: 50px;
        object-fit: cover;
    }
    
    .play-or-index {

        position: relative;

        .index {
            position: absolute;
            visibility: visible;
            width: 7%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .play {
            height: 100%;
            visibility: hidden;

            position: absolute;
            display: flex;

            border: none;
            background: none;
            cursor: pointer;

            img {
                aspect-ratio: 1/1;
                height: 70%;
                width: auto;
                transform: translate(-25%, 25%);
            }
        }
    }

    
    .cover {
        width: 5%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .title {
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: left;
        align-items: center;

        font-size: 1.2rem;
        max-width: 30vh;
    }
    
    
    .listened {
        width: 35%;
        height: 100%;
        display: flex;
        justify-content: right;
        align-items: center;
    }
    
}

