* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
}

.interface {
	display: grid;
	
	grid-template-columns: 0.5fr 9.5fr;
	grid-template-rows: 9fr 1fr; 

	grid-template-areas: 
		"navbar main"
		"player player";
	
	height: 100vh;

}

.nav {
	grid-area: navbar;
}

.main {
	position: relative;
	grid-area: main;

	height: 100%;

	overflow-x: hidden;
	overflow-y: scroll;
	
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
	&::-webkit-scrollbar {
		display: none;
	}
	
}

.player {
	grid-area: player;

}

.arrows-nav {
	position: fixed;
	left: 5vw;
	top: 0;
}



@media screen and (max-width: 800px) {
	.interface {
		grid-template-columns: 1fr;
		grid-template-rows: 74vh 18vh 8vh;

		grid-template-areas: 
			"main"
			"player"
			"navbar";
	}

	.arrows-nav {
		left: 0;
	}
}