/*Reset the CSS */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.interface {
    display: grid;
    
    grid-template-columns: 0.5fr 9.5fr;
    grid-template-rows: 1fr 0.1fr;

    grid-template-areas: 
        "navbar main"
        "player player";

    height: 100vh;

}

.nav {
    grid-area: navbar;
}

.main {

    grid-area: main;

    overflow-x: hidden;
    overflow-y: scroll;
    
    &::-webkit-scrollbar {
        display: none;
    }
}

.player {
    grid-area: player;
}

@media screen and (max-width: 800px) {
    .interface {
        grid-template-columns: 1fr;
        grid-template-rows: 8fr 1fr 1fr;

        grid-template-areas: 
            "main"
            "navbar"
            "player";
        height: 100vh;
    }
}




