<div class="context-menu" [style.--positionX.px]="left" [style.--positionY.px]="top" [style.--number-actions]="numberActions" [ngClass]="show ? '' : 'hidden'">
    <!--If the context menu is called from a song card component-->
    <button *ngIf="obj.song != undefined" class="action-menu" (click)="addSongToQueue()">Add song to queue</button>
    <button *ngIf="obj.song != undefined" class="action-menu" (click)="shareSong()">Share</button>
    <!--If the context menu is called from an album card component-->
    <button *ngIf="obj.albumSongs != undefined" class="action-menu" (click)="addAlbumToQueue()">Add album to queue</button>
    <button *ngIf="obj.albumSongs != undefined" class="action-menu" (click)="shareAlbum()">Share</button>
    <!--If the context menu is called from an artist card component-->
    <button *ngIf="obj.artist != undefined" class="action-menu" (click)="shareArtist()">Share</button>
</div>
