

.context-menu {
    --number-actions: 0;
    --positionX: 0;
    --positionY: 0;

    position: absolute;
    width: 200px;
    border: 1px solid black;
    background-color: #333;

    border-radius: 5px;
    padding: 5px;
    top: var(--positionY);
    left: var(--positionX);
    bottom: auto;
    right: auto;

    z-index: 1000;

    display: flex;
    flex-direction: column;
    justify-content: left;

    /* add drop shadow */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.55);

    visibility: visible;

    .action-menu {
        width: 100%;
        padding: 10px;
        color: white;
        border: #333 solid 1px;
        background: transparent;

        &:hover {
            background-color: #444;
        }  
    }
}

.context-menu.hidden {
    visibility: hidden;
}

@media screen and (max-width: 800px) {
    .context-menu {
        width: 100%;
        bottom: calc(13vh + var(--number-actions) * 6vh);
        top:auto;

        left: 0;
    }
}