<div class="search-page">
    <div class="search-zone">
        <app-search-bar (searchEvent)="displaySearch($event)" class="search-bar"></app-search-bar>
        <div class="list-flair">
            <div class="flair">
                <p>Song</p>
            </div>
            <div class="flair">
                <p>Artist</p>
            </div>
            <div class="flair">
                <p>Album</p>
            </div>
        </div>
    </div>
    <div class="songs-list">
		<div *ngFor="let song of songsSearchResults; let index = index">
            <app-song [song]="song" [index]="index"></app-song>
		</div>		
    </div>
</div>
