<div class="search-page">
    <div class="search-zone">
        <app-search-bar (searchEvent)="displaySearch($event)" class="search-bar"></app-search-bar>
        <div class="list-flair">
            <div class="flair" (click)="changeSearchType('all')">
                <p>All</p>
            </div>
            <div class="flair" (click)="changeSearchType('songs')">
                <p>Songs</p>
            </div>
            <div class="flair" (click)="changeSearchType('artists')">
                <p>Artists</p>
            </div>
            <div class="flair" (click)="changeSearchType('albums')">
                <p>Albums</p>
            </div>
        </div>
    </div>
    <div class="songs-list">
		<div *ngFor="let song of songsSearchResults; let index = index">
            <app-song [song]="song" [index]="index"></app-song>
		</div>		
    </div>
</div>
