<div class="song-page" [ngStyle]="{'background-color': this.color}"> 

    <div class="song-header">
        <div class="cover">
            <img src="{{this.song.album.cover}}" alt="">
        </div>
        <div class="text">
            <h1 class="title">{{this.song.name}}</h1>
            <div class="infos">
                <a routerLink="/artist/{{this.song.album.artist.id}}" class="artist"> {{this.song.album.artist.username}}</a>
                <p class="dot">-</p>
                <p class="date"> {{this.song.releaseYear}} </p>
                <p class="dot">-</p>
                <p class="duration"> {{this.song.duration | nicetime}}</p>
            </div>
        </div> 
    </div>
    <div class="more-of-song">
        <div class="actions">
            <button class="play-button" (click)="playSong()">
                <img src="../../assets/play-icon-2.svg" alt="Play">
            </button>

            <button class="like-button">
                <img src="../../assets/heart-icon.svg" alt="Like">
            </button>
        </div>
    </div>
</div>