#queue-container {
	overflow-y: scroll;
	background-color: #222;

	&.not-visible {
		height: 0;
		width: 0;
	}

	h2 {
		padding-left: 15px;
		letter-spacing: .5px;
	}

	#queue-songs {

		.queue-element {
			height: 70px;
			display: flex;
			align-items: center;
			cursor: pointer;

			.song-index {
				margin: 8px;
			}

			img {
				height: 80%;
			}

			.song-titles {
				margin-left: 8px;
				h3 {
					margin: 0;
				}
				h4 {
					margin: 0;
				}
			}

			.queue-reorder {
				margin-left: auto;
				margin-right: 10px;
				display: flex;
				flex-direction: column;

				img {
					margin: 5px 0;
					filter: invert(80%);
					height: 15px;
					width: auto;
					transition-duration: .1s;
					pointer: cursor;

					&:hover {
						filter: invert(100%);
					}

					&.move-song-after {
						transform: rotate(180deg);
					}
				}
			}
		}
	}
}