<div class="artist-page">
    <div class="artist-infos">
        <h1 id="artist-name">{{artist.username}}</h1>
        <img class="back" [src]="artist.profilePic"> 
    </div>
    <div class="more">
        <div class="profile-edition" *ngIf="authService.currentUserID == artist.id">
            <button (click)="logout()">Logout</button>
        </div>
        <div class="section">
            <div>
                <h2>Popular</h2>
                <button class="play-button" (click)="addArtistSongsToQueue()">
                    <img src="../../../assets/play-icon-2.svg" alt="Play">
                </button>
            </div>
            <div class="list-style2">
                <div *ngFor="let song of artistSongs | slice:0:5; let index = index">
                    <app-song [song]="song" [index]="index+1"></app-song>
                </div>
            </div>
        </div>

        <div class="section">
            <h2>Albums</h2>
            <div class="list-style1">
                <app-album *ngFor="let album of artistAlbums" [album]="album"></app-album>
            </div>
        </div>

        <div class="section">
            <h2>Similar</h2>
            <div class="list-style1">
                <app-album *ngFor="let album of artistAlbums" [album]="album"></app-album>
            </div>
        </div>
        
    </div>
</div>
