<div class="artist-page">
    <div class="artist-infos">
        <h1 id="artist-name">{{artist.username}}</h1>
        <img class="back" [src]="artist.profilePic"> 
    </div>
    <div class="more">
        <div class="profile-edition" *ngIf="authService.loggedIn && authService.currentUserID == artist.id">
            <button (click)="logout()" class="button-edition">Logout</button>
            <button (click)="upload()" class="button-edition">Upload new album</button>
        </div>

        <div class="section" *ngIf="authService.loggedIn && authService.currentUserID == artist.id">
            <h2>
                Favorite Songs
            </h2>
            <div class="songs-list">
                <app-song *ngFor="let song of favoriteSongs" [song]="song"></app-song>
            </div>

            <h2>
                Favorite Albums
            </h2>
            <div class="list-style1">
                <app-album *ngFor="let album of favoriteAlbums" [album]="album"></app-album>
            </div>
        </div>

        <div class="section">
            <div>
                <h2>Popular</h2>
                <button class="play-button" (click)="addArtistSongsToQueue()">
                    <img src="../../../assets/play-icon-2.svg" alt="Play">
                </button>
            </div>
            <div class="list-style2">
                <div *ngFor="let song of artistSongs | slice:0:5; let index = index">
                    <app-song [song]="song" [index]="index+1"></app-song>
                </div>
            </div>
        </div>

        <div class="section">
            <h2>Albums</h2>
            <div class="list-style1">
                <app-album *ngFor="let album of artistAlbums" [album]="album"></app-album>
            </div>
        </div>

        <div class="section">
            <h2>Similar</h2>
            <div class="list-style1">
                <app-artist *ngFor="let artist of similarArtists" [artist]="artist"></app-artist>
            </div>
        </div>
        
    </div>
</div>
