body {
	margin: 0;
	overflow: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Sans+Pro&display=swap'); // importing google font families

* {
	font-family: 'Source Sans Pro', 'Montserrat', sans-serif;
    box-sizing: border-box;
}

// Changing the scrollbar in all the website

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-track {
	background: #AAA; 
}
 
::-webkit-scrollbar-thumb {
	background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #333; 
}

@media screen and (max-width: 800px) {
	html {
		max-width: 100vw;
		max-height: 100vh;
		overflow: hidden;
	}
}