#home-page {
	margin: 0;
	padding: 0;
	background-color: #181818;
	color: white;
	box-sizing: border-box;

	.home-page-section {
		
	}

	.title {
		padding: 10px;
		font-size: 25px;
		margin-left: 50px;
	}

	#popular-albums, #popular-artists {
		width: 100%;

		#popular-albums-content, #popular-artists-content {
			overflow-x: auto;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin: 0 50px;
		}

	}

}