<div id="home-page">
	<div id="popular-songs" class="home-page-section">
		<div class="title">
			<h2>Popular Songs</h2>
		</div>
		<div>
			<app-song *ngFor="let song of popularSongs; let index = index" [song]="song" [index]="index+1"></app-song>
		</div>
	</div>
	<div id="popular-albums" class="home-page-section">
		<div class="title">
			<h2>Popular Albums</h2>
		</div>
        <div id="popular-albums-content">
            <app-album *ngFor="let album of popularAlbums" [album]="album"></app-album>
        </div>
	</div>
	<div id="popular-artists" class="home-page-section">
		<div class="title">
			<h2>Popular Artists</h2>
		</div>
		<div id="popular-artists-content">
			<app-artist *ngFor="let artist of popularArtists" [artist]="artist"></app-artist>
		</div>		
	</div>
</div>
