<div class="track-details">
    <div class="play-or-index">
        <div class="index">
            <p>{{index}}</p>
        </div>
        <button class="play">
            <img src="../../assets/play-icon-2.svg" alt="Play">
        </button>
    </div>
    <div class="cover">
        <img src="https://i.scdn.co/image/ab67616d00001e02c7d6fe09dfe4af1580e59705" alt="">
    </div>
    <div class="title">
        <p>{{song.name}}</p>
    </div>
    <div class="listened">
        <p>{{song.listenings}}</p>
    </div>
</div>