<div class="track-details" (contextmenu)="showContextMenuOnRightClick($event)">
	<div class="play-or-index">
		<div class="index">
			<p>{{index}}</p>
		</div>
		<button class="play" (click)="playSong()">
			<img src="../../assets/play-icon-2.svg" alt="Play">
		</button>
	</div>
	<div class="cover">
		<a routerLink="/album/{{this.song.album.id}}">
			<img src="{{song.album.cover}}" alt="">
		</a>
		
	</div>
	<div class="title">
		<a routerLink="/song/{{this.song.id}}">{{song.name}}</a>
	</div>
	<div class="listened">
		<p>{{song.duration | nicetime}}</p>
	</div>
	<div class="more">
		<button (click)="showContextMenu()">
			<img src="../../assets/more-icon.svg" alt="More">
		</button>
	</div>
</div>